body {
  min-width: 200px;
  min-height: 125px;
}

h2 {
  font-size: .85rem;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container input {
  margin-top: 1rem;
  width: 100%;
  line-height: 2rem;
  height: 2rem;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}